/.CMakeLists.txt.~undo-tree~
/.LICENSE.~undo-tree~
/.Makefile.~undo-tree~
/.cproject.bak
/.flash.sh.~undo-tree~
/.mxproject
/.project.bak
/build/
/Core/Src/driver.cpp~
/Core/Inc/.driver.hpp.~undo-tree~
/Core/Inc/driver.hpp~
/Core/Src/.driver.cpp.~undo-tree~
/compile_commands.json
/.cache
/.vscode
/Core/Inc/.encoder.hpp.~undo-tree~
/Core/Src/.PID.cpp.~undo-tree~
/..CMakeLists.txt.~undo-tree~.~undo-tree~
/..gitignore.~undo-tree~
/Core/Inc/.kinematics.hpp.~undo-tree~
/Core/Inc/.robot.h.~undo-tree~
/Core/Src/.encoder.cpp.~undo-tree~
/Core/Src/.kinematics.cpp.~undo-tree~
/Core/Src/.main.c.~undo-tree~
/Core/Src/.printf_config.c.~undo-tree~
/Core/Src/.robot.cpp.~undo-tree~
/Drivers/CMSIS/DSP/Include/.arm_math.h.~undo-tree~
/cmake/stm32cubemx/.CMakeLists.txt.~undo-tree~
/Core/Inc/.api_functions.hpp.~undo-tree~
/Core/Inc/.robot.hpp.~undo-tree~
/Core/Inc/.tim.h.~undo-tree~
/Core/Inc/api_functions.hpp~
/Core/Inc/robot.hpp~
/.:w.~undo-tree~
/Core/Src/.gpio.c.~undo-tree~
/Core/Inc/#joystick.hpp#
/Core/Inc/.crc.h.~undo-tree~
/Core/Inc/.stm32f4xx_hal_conf.h.~undo-tree~
/Core/Inc/crc.h
/Core/Src/#crc.c#
/Core/Src/.crc.c.~undo-tree~
/Core/Src/.crc8.cpp.~undo-tree~
/Core/Src/crc.c
/Drivers/CMSIS/Device/ST/STM32F4xx/Include/.stm32f407xx.h.~undo-tree~
/Drivers/STM32F4xx_HAL_Driver/Inc/.stm32f4xx_hal_crc.h.~undo-tree~
/Drivers/STM32F4xx_HAL_Driver/Inc/.stm32f4xx_hal_def.h.~undo-tree~
/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy/.stm32f4xx_hal_eth_legacy.h.~undo-tree~
/.turtle_bot.ioc.~undo-tree~
/Core/Inc/.PID.hpp.~undo-tree~
/Core/Inc/.crc8.h.~undo-tree~
/Core/Inc/.crc8.hpp.~undo-tree~
/Core/Inc/.joystick.hpp.~undo-tree~
/Core/Inc/joystick.hpp~
/Core/Src/.crc8.c.~undo-tree~
/Core/Src/.joystick.c.~undo-tree~
/Core/Src/.joystick.cpp.~undo-tree~
/Core/Src/joystick.cpp~
/Core/Inc/*robot.hpp UPPER=HEAD*
/Core/Inc/joystick.h
/Core/Src/#PID.cpp#
/Core/Src/#joystick.cpp#
/Core/Src/.joystick.cpp~.~undo-tree~
/Core/Src/.print_config.c.~undo-tree~
/Core/Src/joystick.c
